extends ../layouts/main.pug

block  content

    form.ui.large.form(action='/login' method='post')
        .ui.stacked.segment
            .field
            .ui.left.icon.input
                i.user.icon
                input(type='text' name='firstName' placeholder='firstName' value="")
            .field
            .ui.left.icon.input
                i.user.icon
                input(type='text' name='email' placeholder='E-mail address' value="")
            .field
            .ui.left.icon.input
                i.lock.icon
                input(type='password' name='password' placeholder='Password')
        button.ui.fluid.large.teal.submit.button(type='submit') Se connecter

        a(href='/login') Pas encore de compte ? S'enregistrer


